recursive-include platformio_helpers *
recursive-exclude platformio_helpers *.pyc
recursive-exclude platformio_helpers *~
exclude .DS_Store
recursive-exclude platformio_helpers .DS_Store
include platformio_helpers/_version.py
